/* Navigation
--------------------------------------------- */
@import "navigation/navigation";
@import "navigation/mainmenu";

/* banners
--------------------------------------------- */
@import "banners/banners";

/* Posts and pages
--------------------------------------------- */
@import "content/posts-and-pages";

@import "content/permissions";

/* Comments
--------------------------------------------- */
@import "comments/comments";

/* Widgets
--------------------------------------------- */
@import "widgets/widgets";

/* Media
--------------------------------------------- */
@import "media/media";

/* Captions
--------------------------------------------- */
@import "media/captions";

/* Galleries
--------------------------------------------- */
@import "media/galleries";

@import "card/services-card";
@import "card/post-card";
//@import "card/blog__post-card";
@import "card/faq_card";
@import "card/testimonial_card";

@import "footer/footer";

/* the slides */
.slick-slide {
  margin: 0 27px;
}

/* the parent */
.slick-list {
  margin: 0 -27px;
}

.woocommerce-tabs {

  ul.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;

    li {
      display: block;
      margin: 0;
      position: relative;

      a {

        display: block;
        border: 1px solid;
        border-color: $color__blue;
        border-radius: 10px 10px 0 0;
        background: $color__blue;
        color: white;
        line-height: 1;
        padding: 1em !important;

        &:hover {
          color: white;
          background-color: $color__green;
          border-color: $color__orange;
        }

        &:active, &:focus {
          color: white;
          background-color: $color__green;
          border-color: $color__orange;
        }

      }
    }
  }
}

.lyuba__breadcrumbs  a{
  color: black !important;
}
