.widget
  margin: 0 0 1.5em
  h3
    display: none

  ul, ol
    margin-left: 0 !important
    padding-left: 15px
    li
      padding: 5px 0

  select
    max-width: 100%
.widget_products
  .widget-title
  .product_list_widget
    li
      a
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
      img
        width: 100%
