$color__green: #6aad8e;
$color__red: #E56B80;
$color__orange: #e9ecff;
$color__orange09: rgba(233, 236, 255, 0.9);
$color__orange08: rgba(233, 236, 255, 0.8);
$color__orange07: rgba(233, 236, 255, 0.7);
$color__orange06: rgba(233, 236, 255, 0.6);
$color__orange05: rgba(233, 236, 255, 0.5);
$color__orange04: rgba(233, 236, 255, 0.4);
$color__orange03: rgba(233, 236, 255, 0.3);
$color__orange02: rgba(233, 236, 255, 0.2);
$color__orange01: rgba(233, 236, 255, 0.1);
$color__blue: #4eaddb;


$color__border: rgba(0, 0, 0, 0.125);

$color__background-body: #fff;
$color__background-footer: #555555;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__green; //royalblue
$color__link-visited: $color__red; //purple
$color__link-hover: $color__red; //midnightblue
$color__text-main: #404040;
$color__text-footer:  #f1f1f1;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
